<div class="row">
	<br><br>
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default text-center">
			<div class="panel-heading">Metaled - MVC Wrapper</div>
			<div class="panel-body">
				Welcome to our <strong><?= $application_name ?></strong> application!
			</div>
		</div>
	</div>
</div>