<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?= isset($title) ? $title : APP_NAME ?></title>
    <link rel="stylesheet" href="<?= assets('css/bootstrap.min.css') ?>">
    <link rel="stylesheet" href="<?= assets('css/style.css') ?>">
    <script src="<?= assets('js/jquery-2.2.4.min.js') ?>"></script>
    <script src="<?= assets('js/bootstrap.min.js') ?>"></script>
    <script src="<?= assets('js/script.js') ?>"></script>
</head>
<body>
    <div class="container">
        <?php include $body; ?>
    </div>
    <footer>
    </footer>
</body>
</html>